# Python Bytecode
__pycache__/
*.py[cod]

# Environment Folders
env/
venv/
agent_env/

# Streamlit cache
.streamlit/

# FAISS or data index files
*.faiss
*.npy
*.pkl

# Logs and temp files
*.log

# Jupyter checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Secrets
.env
.env.*
!.env.example
